[Unit]
Description=unblinkingBot - Another Slack bot
Documentation=http://unblinkingbot.com
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/unblinkingbot
ExecStart=/usr/bin/node /usr/local/unblinkingbot/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
