doctype html(lang='en')
head
  include head
body
  include mixins
  include navbar
  br
  .container
    .card
      .card-header
        |#{title}
        .btn.btn-sm.btn-outline-success.float-right.ml-3(
          id="dataStoreRefreshBtn"
        )
          |Refresh
        .btn.btn-sm.btn-outline-danger.float-right.ml-3(
          id="dataStoreHideBtn"
        )
          |Hide
      .card-block
        .small.text-muted
          |The refresh button will request a fresh copy of the LevelDB datastore
          |from the bot. The response will be displayed for your review.
        br
        .card.card-outline-success
          pre.small(
            id="dataStoreCardBody"
          )
      .card-footer


    include footer

  // Place JavaScript at the end of the document so the pages load faster
  include js
  script(src='/js/datastore.js')

// TODO: Add a progress bar when loading.

