doctype html
head
  include head
body
  include mixins
  include navbar
  .container.mt-3
    .card
      .card-header|Datastore
        .btn.btn-sm.btn-outline-success.float-right.ml-3(id="refreshBtn")
        .btn.btn-sm.btn-outline-danger.float-right.ml-3(id="hideBtn")
      .card-block
        .small.text-muted.mb-3
          |The refresh button will request a fresh copy of the LevelDB datastore
          |from the bot. The response will be displayed for your review.
        .card.card-outline-success
          pre.small(id="dataStoreCardBody")
      .card-footer
  .container
    include footer
// Place JavaScript at the end of the document so the pages load faster
include js
script(src="/js/datastore.js")
// TODO: Add a progress bar when loading.
