meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

title= 'unblinkingbot' + ' - ' + title

// favicon stuff - http://realfavicongenerator.net
link(rel="icon" href="/images/favicon.ico")
link(rel='apple-touch-icon', sizes='180x180', href='/images/apple-touch-icon.png')
link(rel='icon', type='image/png', href='/images/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/images/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/images/manifest.json')
link(rel='mask-icon', href='/images/safari-pinned-tab.svg', color='#0000ff')
link(rel='shortcut icon', href='/images/favicon.ico')
meta(name='msapplication-config', content='/images/browserconfig.xml')
meta(name='theme-color', content='#ffffff')

// https://v4-alpha.getbootstrap.com/getting-started/
// Latest compiled and minified CSS
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")

// Some last minute css
style(type='text/css').
    .loader {
        width: 20px;
        height: 20px;
        border-top: 5px solid #008ae6;
        border-right: 5px solid #cccccc;
        border-bottom: 5px solid #008ae6;
        border-left: 5px solid #cccccc;
        border-radius: 50%;
        animation: spin 3s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .alert-fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 9999; /* Overlap and cover elements with index less than 9999 */
        margin: 0px;
        padding: 0px;
    }

