doctype html(lang='en')
head
    include head
body
    include mixins
    include navbar
    br
    .container.theme-showcase(role='main')
        br
        .page-header.clearfix
            h4=title
        .row
            .col-md-5
                .panel.panel-default
                    .panel-heading
                        |Slack Activity
                    .panel-body
                        .text-primary.small
                            |Recent activity using Slack integration.
                        br
                        pre#slackactivitypanelbody=history
                    .panel-footer
                        .text-warning.small
                            |Requires Slack token setup. See the Settings page.

        include footer

    // Place JavaScript at the end of the document so the pages load faster
    include js
    script(src='/js/index.js')