doctype html(lang='en')
head
  include head
body
  include mixins
  include navbar
  .container.mt-3
    .col-md-6.pl-0
      .card
        .card-header
          |Slack Activity
        .card-block
          .small.text-primary.mb-3
            |Recent activity using Slack integration.
          .card.card-outline-primary
            pre.small(id="slackactivitypanelbody")
              |History will go here
        .card-footer
          .small.text-warning
            |Requires Slack token setup. See the Settings page.
  .container
    include footer
// Place JavaScript at the end of the document so the pages load faster
include js
script(src='/js/index.js')