// jQuery
// https://github.com/jquery/jquery
script(src="/jquery/jquery-3.2.1.js")

// Tether and Popper.js
// https://github.com/HubSpot/tether
// https://popper.js.org/
script(src="/bootstrap/tether.min-1.4.0.js")
script(src="/bootstrap/popper.min.js")

// Bootstrap
// https://v4-alpha.getbootstrap.com/getting-started/
script(src="/bootstrap/bootstrap.js")

// Socket.io
script(src='/socket.io/socket.io.js')
