// jQuery
// https://github.com/jquery/jquery
script(src="/jquery/jquery-3.2.1.js")

// Tether
// https://github.com/HubSpot/tether
// Requred for Bootstrap Popovers - https://v4-alpha.getbootstrap.com/components/popovers/
script(src="/bootstrap/tether.min-1.4.0.js")

// Bootstrap
// https://v4-alpha.getbootstrap.com/getting-started/
script(src="/bootstrap/bootstrap-4.0.0-alpha.6.js")

// Socket.io
script(src='/socket.io/socket.io.js')

// Navbar related scripts.
script(src='/js/navbar.js')
