// Bootstrap core JavaScript
// Latest compiled and minified JavaScript
script(
    src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
)
script.
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
// http://getbootstrap.com/getting-started/
script(
    src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
    integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
    crossorigin='anonymous'
)

script(src='/socket.io/socket.io.js')
script(src='/js/navbar.js')