// jQuery
// https://github.com/jquery/jquery
script(src="/jquery/jquery-3.2.1.js")

// Bootstrap
// https://v4-alpha.getbootstrap.com/getting-started/
script(src="/bs/bootstrap.js")

// Bluebird promise library
// http://bluebirdjs.com/docs/install.html
script(src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js")

// Socket.io
script(src='/socket.io/socket.io.js')

// Navbar related scripts.
script(src='/js/navbar.js')
