// Fixed top navbar begin
nav.navbar.navbar-default.container-fluid.navbar-fixed-top
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only
                    |Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand
                span.glyphicon.glyphicon-eye-open
                +space
                |unblinkingBot
        // Collect the nav links, forms, and other content for toggling
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                if(title==='Dashboard')
                    li(class='active')
                        a(href='/')
                            span.glyphicon.glyphicon-dashboard
                            +space
                            |Dashboard
                else
                    li
                        a(href='/')
                            span.glyphicon.glyphicon-dashboard
                            +space
                            |Dashboard
                if(title==='Settings')
                    li(class='active')
                        a(href='/settings')
                            span.glyphicon.glyphicon-cog
                            +space
                            |Settings
                else
                    li
                        a(href='/settings')
                            span.glyphicon.glyphicon-cog
                            +space
                            |Settings
                if(title==='Data store')
                    li(class='active')
                        a(href='/datastore')
                            span.glyphicon.glyphicon-hdd
                            +space
                            |Data Store
                else
                    li
                        a(href='/datastore')
                            span.glyphicon.glyphicon-hdd
                            +space
                            |Data Store
                li.divider
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')#restartdropdown
                        span.glyphicon.glyphicon-refresh
                        +space
                        |Restart
                        +space
                        b.caret
                    ul.dropdown-menu
                        li#restartbutton
                            a
                                span.glyphicon.glyphicon-question-sign
                                +space
                                |Are you sure?
                                br
                                br
                                .small
                                    |This will restart the unblinkingBot application