.container
  nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
    .navbar-toggler.navbar-toggler-right(
      type="button", data-toggle="collapse", data-target="#navbar",
      aria-expanded="false", aria-controls="navbar",
      aria-label="Toggle navigation"
    )
      .navbar-toggler-icon
    .navbar-brand
      img(src="/images/safari-pinned-tab.svg", height="40dp")
    .collapse.navbar-collapse(id="navbar")
      .navbar-nav
        .nav-item
          a.nav-link(href="/")
            |Dashboard
        .nav-item
          a.nav-link(href="/settings")
            |Settings
        .nav-item
          a.nav-link(href="/datastore")
            |Datastore
        .nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#", id="restartdropdown",
          data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            |Restart
            .dropdown-menu(aria-labelledby="restartdropdown")
              a.dropdown-item
                |Are you sure?
                br
                .small|This will restart the unblinkingbot application

