.container.rounded-bottom.bg-inverse.mt-0.mb-3.p-0.clearfix
  img.rounded.m-2(
    src="/images/android-chrome-192x192.png",
    height="30dp"
  )
  span.text-white.mr-2|unblinkingBot
  span.text-white.small.float-right.mt-2.mr-2| web management console
