li.list-group-item
  .container.p-0
    .form-group(id="tokenPanel")
      include settings-slack-set-token-toggle
      include settings-slack-set-token-tooltip
      include settings-slack-set-token-edit
