li.list-group-item.d-inline-block
  .container.p-0
    .form-group(id="motionSnapshotPanel")
      include settings-motion-set-snapshots-toggle
      include settings-motion-set-snapshots-tooltip
      include settings-motion-set-snapshots-edit
