.container.mb-3.p-0
  .card
    .card-header|Datastore
      .btn.btn-sm.btn-outline-success.float-right.ml-3(
        id="showDatastoreBtn"
      )
      .btn.btn-sm.btn-outline-danger.float-right.ml-3(
        id="hideDatastoreBtn"
      )
    .card-block.m-0.p-0
      pre.small.m-0.p-0(id="dataStoreCardBody")
