.container.mb-3.p-0
  .card
    .card-header|motionEye Integration
      a.btn.btn-sm.btn-link.float-right(
        href="https://github.com/ccrisan/motioneye/wiki",
        target="_blank"
      )
        |About motionEye 🦉
    .card-block
      .small| motion.conf file is
        span.ml-1(id="motionConfFileStatus")
        |.
      .small| motioneye.conf file is
        span.ml-1(id="motionEyeConfFileStatus")
        |.
      .small| Camera count is
        span.ml-1(id="motionThreadFileCount")
        |.

      .alert.alert-info.mt-3.mb-0.small
        strong These files should be mounted or symlinked at:
        pre.m-0.p-0
          |/usr/local/unblinkingbot/motion/settings/

