li.list-group-item.d-inline-block
  .container.p-0
    .form-group(id="notifyPanel")
      include settings-slack-set-notify-toggle
      include settings-slack-set-notify-tooltip
      include settings-slack-set-notify-edit
